@using Nhom15.Models
@model IEnumerable<Nhom15.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    Nhom15DbContext db = new Nhom15DbContext();
}

<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Chi tiết đơn hàng
</h4>


<div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
    <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-3 py-2">Mã sản phẩm</th>
                    <th class="px-3 py-2">Tên sản phẩm</th>
                    <th class="px-3 py-2">
                        Số lượng
                    </th>
                    <th class="px-3 py-2">
                        Thành tiền
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                @foreach (var item in Model)
                {
                    <tr class="text-gray-700 dark:text-gray-400">
                        <td class="px-4 py-3">
                            <div class="flex items-center text-sm">
                                <div>
                                    <input type="hidden" />
                                    @Html.DisplayFor(model => item.MaCTHoaDon)
                                </div>
                            </div>
                        </td>
                        <td class="px-4 py-3 text-sm">
                            @{
                                    string tensp = db.SanPhams.Where(sp => sp.MaSP == item.MaSP).FirstOrDefault().TenSP;
                                        <input type="hidden" />
                                        @Html.DisplayFor(model => tensp);

                                }
                        </td>
                        <td class="px-4 py-3 text-sm">
                            @{
                                <input type="hidden" />
                                @Html.DisplayFor(model => item.SoLuong);
                            }
                        </td>
                        <td class="px-4 py-3 text-sm">
                            @{
                                <input type="hidden" />
                                string x = (item.SoLuong * item.DonGia).ToString().Trim();
                                @Html.DisplayFor(model => x);
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

