
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin: 50px auto auto 900px">Trang liên hệ của FlowerStore</h2>

<div style="margin: 100px auto auto 900px">
    <p>Số điện thoại : 0989999999</p>
    <p>Địa chỉ Email : Nhom15@gmail.com</p>
    <p>Địa chỉ : Số 269 Cầu Diễn, Bắc Từ Liêm, Hà Nội</p>
</div>
